{% extends 'base.html.twig' %}

{% block title %}Bezoek{% endblock %}

{% block body %}
<section class="content">

 {% if bezoek %}
<div class="container overflow-hidden">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border">
            Datum: {{bezoek.datum|date('Y-m-d')}}<br>
            Geplande aankomsttijd: {{bezoek.tijd|date('H:i')}}<br>
            Hier komt de datum widget
            </div>
        </div>
        <div class="col">
            <div class="p-3 border">
            <h3>Klant</h3>
            {% set klantData = bezoek.klant %}
            {% set medewerkerData = bezoek.medewerker %}
            <h4>{{klantData.voornaam}} {{klantData.achternaam}}</h4>
            {{klantData.straat}} {{klantData.huisnummer}} <br>
            {{klantData.postcode}} {{klantData.woonplaats}} <br>
            {{klantData.telefoonnummer}}<br>

            
            <button type="button" class="button blue breed" id="btn1">Selecteer Klant</button>
            
                <div class="popup">
                <form id="klantForm" method='POST'>
                    <label for="klantSelect">Kies een klant:</label>
                    <select id="klantSelect" name="klant_id">
                    {% for klant in klants %}
                    <option value="{{ klant.id }}">{{ klant.voornaam }} {{ klant.achternaam }}</option>
                    {% endfor %}
                    </select>
                    <button type="button" id="save">Opslaan</button>
                </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border">
                <h3>Medewerker</h3>
                <h4>{{medewerkerData.voornaam}} {{medewerkerData.achternaam}}</h4>
                {{medewerkerData.functie}}<br>
        
                Aankomsttijd:
                {% if bezoek.aankomsttijd %}
                    {{bezoek.aankomsttijd|date('H:i')}}
                {% else %}
                    Niet ingevuld.
                {% endif %}
                    <br> Vertrektijd:
                {% if bezoek.vertrektijd is not null %}
                    {{bezoek.vertrektijd|date('H:i')}}
                {% else %}
                    Niet ingevuld.
                {% endif %}
                <br>Status: {{ bezoek.status }}<br>
               
                <button type="submit" class="button blue breed" id="btn">Selecteer Medewerker</button>
                   
                    <div class="popup1" id="popup1">
                    <form id="medewerkerForm"  method='POST'>
                        <label for="medewerkerSelect">Kies een medewerker:</label>
                        <select id="medewerkerSelect" name="medewerker_id">
                        {% for medewerker in medewerkers %}
                        <option value="{{ medewerker.id }}">{{ medewerker.voornaam }} {{ medewerker.achternaam }}</option>
                        {% endfor %}
                        </select>
                        <input type="hidden" name="id" value="{{ bezoek.id }}">
                        <button type="button" id="save">Opslaan</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <p>
    {% if bezoek.handelings is not empty %}
        <ul>
            {% set totaleTijd = 0 %}
            {% set count = 0 %}
            <div class="container border">
    {% if bezoek.handelings %}
        <div class="row mb-3">
            <div class="col">#</div>
            <div class="col">Taak</div>
            <div class="col">Omschrijving</div>
            <div class="col">Tijd</div>
            <div class="col">Status</div>
            <div class="col"></div>
        </div>

        {% for handeling in bezoek.handelings %}
            <div class="row mb-3 border">
                <div class="col">{{ loop.index }}</div>
                <div class="col">{{ handeling.taak.naam }}</div>
                <div class="col">{{ handeling.taak.omschrijving }}</div>
                <div class="col">{{ handeling.taak.tijd }} minuten</div>
                <div class="col">{% if handeling.status == 'Voltooid' %}
                        <input type="checkbox" name="status[]" checked>
                    {% else %}
                        <input type="checkbox" name="status[]">
                    {% endif %}</div>
                <div class="col">
                    <button class="btn btn-danger btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0 -12-12h-24a12 12 0 0 0 -12 12v216a12 12 0 0 0 12 12zM432 80h-82.4l-34-56.7A48 48 0 0 0 274.4 0H173.6a48 48 0 0 0 -41.2 23.3L98.4 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0 -16-16zM171.8 50.9A6 6 0 0 1 177 48h94a6 6 0 0 1 5.2 2.9L293.6 80H154.4zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0 -12-12h-24a12 12 0 0 0 -12 12v216a12 12 0 0 0 12 12z"/></svg>
                    </button>
                </div>
            </div>
            {% set totaleTijd = totaleTijd + handeling.taak.tijd %}
        {% endfor %}

        <div class="row mb-3">
            <div class="col">{{ count + 1 }}</div>
            <div class="col"><input type="text" name="taakInput[]"></div>
            <div class="col">
                <select name="existingTaak[]" onchange="fillTaakDetails(this)">
                    {% for taak in taaks %}
                        <option value="{{ taak.id }}">{{ taak.naam }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col"><input type="text" name="tijd[]"></div>
            <div class="col"><input type="checkbox" name="status[]"></div>
            <div class="col">
                <button class="btn btn-danger btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0 -12-12h-24a12 12 0 0 0 -12 12v216a12 12 0 0 0 12 12zM432 80h-82.4l-34-56.7A48 48 0 0 0 274.4 0H173.6a48 48 0 0 0 -41.2 23.3L98.4 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0 -16-16zM171.8 50.9A6 6 0 0 1 177 48h94a6 6 0 0 1 5.2 2.9L293.6 80H154.4zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0 -12-12h-24a12 12 0 0 0 -12 12v216a12 12 0 0 0 12 12z"/></svg>
                </button>
            </div>
        </div>

        <p>Totale tijd van alle handelingen: {{ totaleTijd }} minuten</p>
    {% else %}
        <p>Geen handelingen gevonden voor dit bezoek.</p>
    {% endif %}
</div>
            <button class="button blue right smal" type="button" onclick="addNewRow()"> + </button>
        </ul>
        <p>Totale tijd van alle handelingen: {{ totaleTijd }} minuten</p>
    {% else %}
        <p>Geen handelingen gevonden voor dit bezoek.</p>
    {% endif %}
    </p>

{% endif %}
<button class="button red normaal">Bezoek verwijderen</button>
<button class="button blue normaal">Opslaan</button>
</section>




{% endblock %}
{% block javascripts %}
<script>
    function addNewRow() {
        
        var container = document.querySelector('.container');

        
        var newRow = document.createElement('div');
        newRow.classList.add('row', 'mb-3');

        // Add columns to the new row
        newRow.innerHTML = `
            <div class="col">${count + 1}</div>
            <div class="col"><input type="text" name="taakInput[]"></div>
            <div class="col">
                <select name="existingTaak[]" onchange="fillTaakDetails(this)">
                    {% for taak in taaks %}
                        <option value="{{ taak.id }}">{{ taak.naam }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col"><input type="text" name="tijd[]"></div>
            <div class="col"><input type="checkbox" name="status[]"></div>
            <div class="col">
                <button class="btn btn-danger btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                        <!-- Your SVG path here -->
                    </svg>
                </button>
            </div>
    `;

        // Append the new row to the container
        container.appendChild(newRow);

        // Increment the count variable
        count++;

        // You can add any additional logic or functionality here if needed
    }
</script>
{% endblock %}
