{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}
{% block javascripts %}

{% endblock %}
{% block body %}
<section class="content">
detailpagina

 {% if bezoek %}
<div class="row">
<div class="col-md-4 border">
Datum: {{bezoek.datum|date('Y-m-d')}}<br>
Hier komt de datum widget
</div>
<div class="col-md-4 border">
    {% set klantData = bezoek.klant %}
    {% set medewerkerData = bezoek.medewerker %}
    {{klantData.voornaam}} {{klantData.achternaam}} <br> 
    {{klantData.straat}} {{klantData.huisnummer}} <br>
    {{klantData.postcode}} {{klantData.woonplaats}} <br>
    {{klantData.telefoonnummer}}
 </div>   
<div class="col-md-4 border">
    {{medewerkerData.voornaam}} {{medewerkerData.achternaam}} <br>
    {{medewerkerData.functie}}<br>
    Geplande aankomsttijd: {{bezoek.tijd|date('H:i')}}<br>
    Aankomsttijd:
    {% if bezoek.aankomsttijd %}
        {{bezoek.aankomsttijd|date('H:i')}}
        {% else %}
        Niet ingevuld.
    {% endif %}
    <br> Vertrektijd:
    {% if bezoek.vertrektijd is not null %}
        {{bezoek.vertrektijd|date('H:i')}}
        {% else %}
        Niet ingevuld.
    {% endif %}
    Status: {{ bezoek.status }}<br>
</div>
</div>
    <p>
    {% if bezoek.handelings is not empty %}
        <ul>
            {% set totaleTijd = 0 %}
            <table class="border">
            <tr><th>Taak</th><th>Omschrijving</th><th>Tijd</th><th>Status</th></tr>
            {% for handeling in bezoek.handelings %}
                <tr>
                
                <td>{{ handeling.taak.naam }}</td>
                <td>{{ handeling.taak.omschrijving }}</td>
                <td>{{ handeling.taak.tijd }} minuten</td>
                <td>{{ handeling.status }}</td>   
                </tr>
            {% set totaleTijd = totaleTijd + handeling.taak.tijd %}
            {% endfor %}
            </table>
        </ul>
        <p>Totale tijd van alle handelingen: {{ totaleTijd }} minuten</p>
    {% else %}
        <p>Geen handelingen gevonden voor dit bezoek.</p>
    {% endif %}
    </p>

{% endif %}
</section>
{% endblock %}
