{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}
{% block javascripts %}
 {{parent ()}}
 
    <script>
    
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
            eventClick: function (info) {
            window.location.href = '/detailpagina/' + info.event.id; // Vervang '/detailpagina/' door de juiste URL
        },
                events: [
                    {% for record in bezoek %}
                    {% set klantData = record.klant %}
                    {% set medewerkerData = record.medewerker %}
                        {
                            title: '{{ record.tijd|date('H:i') }}   {{ klantData.voornaam }} {{ klantData.achternaam }}',
                            medewerker: '{{medewerkerData.voornaam}} {{medewerkerData.achternaam}}',
                            status: '{{record.status}}',
                            start: '{{ record.datum|date('Y-m-d') }}',
                            id: '{{record.id}}',
                        },
                    {% endfor %}
                ]
            });
            calendar.render();


        });
    </script>


    
{% endblock %}
{% block body %}

<button type="submit" class="button blue" id="btn1">Nieuw Bezoek</button>

            <div class="popup">
            <form id="bezoekForm">
            <label>
            Datum <input type="date" name="datum">
            </label><br>
            <label>
            Tijd <input type="time" name="tijd">
            </label><br>
            <label for="klantSelect">Klant:</label>
            <select id="klantSelect" name="klant_id">
            {% for klant in klants %}
            <option value="{{ klant.id }}">{{ klant.voornaam }} {{ klant.achternaam }}</option>
            {% endfor %}
            </select><br>
            <label for="medewerkerSelect">Medewerker:</label>
            <select id="medewerkerSelect" name="medewerker_id">
            {% for medewerker in medewerkers %}
            <option value="{{ medewerker.id }}">{{ medewerker.voornaam }} {{ medewerker.achternaam }}</option>
            {% endfor %}
            </select><br>
            <input type="checkbox" id="status" name="status"/>
            <label for="status">Bezoek Voltooid</label><br>
            <input type="hidden" name="status_value" value="{% if status is defined and status == 'voltooid' %}voltooid{% else %}onvoltooid{% endif %}">
            <input type="hidden" name="aankomsttijd" value="">
            <input type="hidden" name="vertrektijd" value="">
            </form>
            <button type="button" id="save">Opslaan</button>
            <button type="button" onclick="closePopup()">Annuleren</button>
            
            </div>


            <div id='calendar'></div>
{% endblock %}
